<section class="admin-products-dashboard">
<br>
<h3>Admin Dashboard</h3>
<br>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Total Products </th>
        <th>Total Categories </th>
      </tr>
    </thead>
    <tbody>
      <tr>
      <td><%= link_to "#{@product_count}", "/admin/products" %></td>
      <td><%= @category_count %></td>
      </tr>
    </tbody>
  </table>

</section>