<section>
<br>
<h2>About</h2>
<p>Welcome to Jungle, the place where all coloured-thumbs alike come to fuel the addiction that is plant parenthood. Our store is located in beautiful Vancouver, where the only thing more abundant than rain and complaining about said rain is our love for all things leafy. Whether you're a seasoned gardener or a naive fool looking for another new hobby to go with your unused sewing machine and acoustic guitar that's collecting dust, we've got you covered! And don't worry, we won't judge you if you accidentally kill a plant or two, just buy another one. After all, we're all just doing our best in this jungle we call life.</p>
</section> 